table {
    width: 90%;
    margin: 20px auto;
    border-collapse: collapse;
    color: #333;
    font-size: 1rem;
    font-weight: bold;
    background-color: #fff;
    overflow: hidden;
    border: 2px solid #aaaaaa;
    border-radius: 10px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

table th, table td {
    padding: 10px;
    text-align: center;
    border: 2px solid #838383;

}

table th {
    background-color: #aeaeae;
    color: #333;
}

tr:nth-child(odd) {
    background-color: #e6e6e6;
}


img.ItemImage {
    height: 200px;
    width: auto;
}

img.ItemImage:hover {
    transform: scale(1.1);
}

#checkout {
    font-size: 2em;
    font-weight: bold;;
    float:right;
    margin-right:5%; 
    padding: 8px 16px;
    background-color:#9174d2;
    color: #333;
    border: none;
    border-radius: 8px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

#checkout:hover {
    background-color:#8b64e0;
}

#remove {
    margin: 7px; 
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 50px; 
    transition: background-color 0.3s ease;
    background-color: #cb4444; 
    color: white;
}

#remove:hover {
    background-color: #b71212; 
}

h2 {
    text-align: center;
    font-size: 2em;
    margin: 50px;
}