body {
    background-image: url("images/background.png");
    background-size: cover;
    font-family: Verdana, sans-serif;
    color: #333
}

.sign {
    color: #333;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.sign_card {
    margin: 5%;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 40%;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.sign_card h1 {
    margin-bottom: 20px;
    font-size: 3em;
    color: #333;
}

form {
    margin: 5%;
    display: flex;
    flex-direction: column;
}

label {
    text-align: left;
    margin-bottom: 5px;
    font-weight: bold;
    color: #555;
}

input {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

input:focus {
    border-color: #e28a6b;
    outline: none;
}

button {
    margin-top: 25px;
    padding: 10px;
    background-color: #e28a6b;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 24px;
    cursor: pointer;
}

button:hover {
    background-color: #d77d5c;
}

p {
    margin-top: 15px;
    font-size: 14px;
    color: #555;
}

p a {
    text-decoration: none;
    color: #e28a6b
}

p a:hover {
    text-decoration: underline;
}